body {
  font-family: "Lora", serif;
  background-color: #e4f1fe;
  color: #22313f;
}
form {
  max-width: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
}
input {
  max-width: 100%;
  padding: 10px;
  margin: 10px;
}
h1 {
  background-color: #e4f1fe;
  size: 100px;
  padding: 20px;
  border: solid #34495e 3px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

h4 {
  font-style: italic;
  font-size: 20px;
}
#banner {
  padding-top: 0;
}
.card {
  border-radius: 20px;
  max-width: 75%;
  margin: 15px;
}
.search-bar {
  width: 550px;
}
.end {
  text-align: center;
  padding-top: 10px;
}
.weather-degree {
  position: relative;
  top: -10px;
  font-size: 16px;
  left: 10px;
}

.temperature-min {
  opacity: 0.8;
}

#forecast {
  text-align: center;
}
